
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  /* background-image: url(./images/logo.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(30, 30, 30);
}

.App {
  background-color: rgb(21, 21, 21);
}

.page {
  z-index: -2;
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  bottom: 0;
}

h2 {
  color: rgb(159, 165, 165);
}

#spinner {
  background-color: rgba(240, 248, 255, 0);
  margin-top: 20%;
}

/* Header -------------------------------*/

.titleBar {
  background-color: rgb(21, 20, 20);
  /* border: rgb(0, 0, 0) 0px solid; */
  /* height: 200px; */
  z-index: +3;
  box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0, 0, 0, .25),
    3px 3px 3px rgba(0, 0, 0, .25);

}

.logoTitle {
  align-self: center;
  width: auto;
  height: 70px;
}

.iconSmall {

  width: 50px;
  height: auto;
}

.icon {

  width: 30%;
  height: auto;
}

.link {
  color: rgb(134, 124, 68);
  font-size: larger;
}


@media screen and (max-width: 652px) {
  .page {
    z-index: -2;
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .logoTitle {
    align-self: center;
    width: auto;
    height: 40px;
  }

  .icon {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 426px) {
  .page {
    z-index: -2;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .logoTitle {
    align-self: center;
    width: auto;
    height: 40px;
  }

  .iconSmall {
    width: 0px;
    height: auto;
  }
}

@media screen and (max-width: 376px) {
  .logoTitle {
    align-self: center;
    width: auto;
    height: 34px;
  }

  .iconSmall {
    width: 0px;
    height: auto;
  }
}

@media screen and (max-width: 334px) {
  .logoTitle {
    align-self: center;
    width: auto;
    height: 27px;
  }

  .iconSmall {
    width: 0px;
    height: auto;
  }
}

.name {
  color: aliceblue;
}

/* error page style ------------------*/

#err {
  margin-left: 40%;
}

.carousel {
  max-width: 100%;
  height: auto;
  
}