
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
  /* background-image: url(./images/logo.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(30, 30, 30);
}

.App {
  background-color: rgb(21, 21, 21);
}

.page {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  margin-top: 20%;
}

h2 {
  font-size: 25px;
  font-family: Abel;
  color: rgb(159, 165, 165);
}

#spinner {
  background-color: rgba(240, 248, 255, 0);
  margin-top: 20%;
}

/* Header -------------------------------*/

.titleBar {
  background-color: rgb(21, 20, 20);
  /* border: rgb(0, 0, 0) 0px solid; */
  /* height: 200px; */
  z-index: +3;
  box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0, 0, 0, .25),
    3px 3px 3px rgba(0, 0, 0, .25);

}

.logoTitle {
  align-self: center;
  width: auto;
  height: 60px;
}

.iconSmall {

  width: 50px;
  height: auto;
}

.icon {
  position: absolute;
  z-index: 5;
  width: 40%;
  height: auto;
  top: 0;
  left: 0;
  margin-left: 29%;
  margin-top: 8%;
  
}

.link {
  color: rgb(195, 195, 195);
  text-decoration: none;
  font-family: Abel;
  font-size: larger;
}
.link:hover {
  color: rgb(195, 195, 195);
  text-decoration:underline;
  font-family: Abel;
  font-size: larger;
}
.link:active {
  color: rgb(89, 91, 156);
  text-decoration:underline;
  font-family: Abel;
  font-size: larger;
}



.name {
  color: aliceblue;
}

.customContainer {
  /* border-radius: 10px; */
  box-shadow:
  -1px -1px 0 rgba(255, 255, 255, 0),
  1px 1px 0 rgba(0, 0, 0, .25),
  3px 3px 3px rgba(0, 0, 0, .25);
}

/* error page style ------------------*/

#err {
  margin-left: 40%;
}

.carousel {
  max-width: 100%;
  height: auto;
  
}

@media screen and (max-width: 1101px) {
  .iconSmall {
    width: 0px;
    height: auto;
  }
}

@media screen and (max-width: 1007px) {
  .iconSmall {
    width: 0px;
    height: auto;
  }
  .page {
    z-index: -2;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* media queries */
/* @media screen and (max-width: 652px) {
  .page {
    z-index: -2;
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .logoTitle {
    align-self: center;
    width: auto;
    height: 40px;
  }

  .icon {
    position: absolute;
    z-index: 5;
    width: 45%;
    height: auto;
    top: 0;
    left: 0;
    margin-left: 27%;
    margin-top: 6%;
  }
} */

@media screen and (max-width: 585px) {
  .page {
    z-index: -2;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .icon {
    position: absolute;
    z-index: 5;
    width: 40%;
    height: auto;
    top: 0;
    left: 0;
    margin-left: 27%;
    margin-top: 7%;
  }

  .logoTitle {
    align-self: center;
    width: auto;
    height: 35px;
  }
}

@media screen and (max-width: 426px) {
  .page {
    z-index: -2;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  h2 {
    font-size: 15px;
    font-family: Abel;
    color: rgb(159, 165, 165);
  }
  
  .logoTitle {
    align-self: center;
    width: auto;
    height: 30px;
  }

  .iconSmall {
    width: 0px;
    height: auto;
  }

  .icon {
    position: absolute;
    z-index: 5;
    width: 45%;
    height: auto;
    top: 0;
    left: 0;
    margin-left: 27%;
    margin-top: 7%;
  }
  
}

@media screen and (max-width: 376px) {

  .page {
    z-index: -2;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .logoTitle {
    align-self: center;
    width: auto;
    height: 34px;
  }

  .iconSmall {
    width: 0px;
    height: auto;
  }

  .icon {
    position: absolute;
    z-index: 5;
    width: 45%;
    height: auto;
    top: 0;
    left: 0;
    margin-left: 27%;
    /* margin-top: ; */
  }
}

@media screen and (max-width: 334px) {
  .logoTitle {
    align-self: center;
    width: auto;
    height: 28px;
  }

  .iconSmall {
    width: 0px;
    height: auto;
  }

  .icon {
    position: absolute;
    z-index: 5;
    width: 40%;
    height: auto;
    top: 0;
    left: 0;
    margin-left: 27%;
    margin-top: 6%;
  }
}