
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  /* background-image: url(./images/logo.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(30, 30, 30);
}

.App {
  background-color: rgb(21, 21, 21);
}

.page {
  /* background-image: url(./images/logo.png); */
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Header */

.titleBar {
  border: rgb(0, 0, 0) 1px solid;
  /* height: 200px; */
  z-index: +2;
  box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0, 0, 0, .25),
    3px 3px 3px rgba(0, 0, 0, .25);

}

.logoTitle {
  align-self: center;
  width: auto;
  height: 70px;
}

.icon {
  width: 30%;
  height: auto;
}

@media screen and (max-width: 652px) {
  .logoTitle {
    align-self: center;
    width: auto;
    height: 40px;
  }

  .icon {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 381px) {
  .logoTitle {
    align-self: center;
    width: auto;
    height: 35px;
  }

  .icon {
    width: 30%;
    height: auto;
  }
}

.name {
  color: aliceblue;
}

/* error page style */
#err {
  margin-left: 40%;
}